<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h4>FastAPI with Google Oauth</h4>
        <div class="img-box">
          <img class="img" src="{{ url_for('static', path='icons/avatar.png') }}" />
        </div>
      </div>
      <form method="post" action="http://localhost:8000/auth/github/signin/?follow_redirect=true">
        <!-- empty body, sesuai curl -d '' -->
        <div class="google-icon"></div>
        <button class="btn-text"type="submit">Sign in with Google</button>
      </form>
    </div>
  </body>
</html>